@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: royalblue;
}

.hide {
    display: none;
}

.chgFont {
  font-family: cursive;
  font-weight: bolder;
}